@keyframes open {
    from {
        left: -100vw;
    }
    to {
        left: 0;
    }
}

#burgerbutton {
    display: none;
}

.burgerimage {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 70pt;
    cursor: pointer;
    transition: transform 0.8s ease;
    color: teal;
}

#logo {
    position: absolute;
    height: 150px;
    left: 1200px;
    top: 0px;
}

body {
    background-color: lightgray;
}

nav {
    background-color: white;
    display: block;
    height: 150px;
    border-bottom: 3px solid, grey;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    border-style: solid;
    border-color: teal;
}

nav ul {
    display: none;
    position: fixed;
    top: 53px;
    margin: 0;
    padding: 0;
    width: 200px;
    list-style: none;
}

nav ul li {
    display: block;
    width: auto;
}

nav ul li a {
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    background-color: grey;
    border-bottom: 1px solid lightgray;
    display: block;
    padding: 20px;
    transition: 0.5s ease;
}

nav ul li a:hover {
    background-color: lightcyan;
    color: darkgrey;
}

#burgerbutton:checked~ul {
    display: block;
    animation-name: open;
    animation-duration: 0.8s;
}

#burgerbutton:checked~.burgerimage {
    transform: rotate(90deg);
}

h1 {
    position: absolute;
    font-family: fantasy;
    color: teal;
    top: 5px;
    left: 40%;
    font-size: xx-large;
}

.footer {
    background-color: white;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 0px;
    border-style: solid;
    border-color: teal;
    width: 100%;
    height: 100px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    background: #060AB2;
}

.memory-game {
    width: 640px;
    height: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}

.memory-card {
    width: calc(25% - 10px);
    height: calc(33.333% - 10px);
    margin: 5px;
    position: relative;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform .5s;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, .3);
}

.memory-card:active {
    transform: scale(0.97);
    transition: transform .2s;
}

.memory-card.flip {
    transform: rotateY(180deg);
}

.front-face,
.back-face {
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background: #1C7CCC;
    backface-visibility: hidden;
}

.front-face {
    transform: rotateY(180deg);
}